* {
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.0;
}
/*Color palete*/
:root {
    --white: #fff;
    --black: #000;
    --main-blue: #2196F3;
    --lighter-black: #212121;
    --light-grey: #f5f4fa;
    --fade-on-white: #757575;
    --fade-on-black: #ffffff99;
    --material-shadow-0_20: #00000033;
    --material-shadow-0_14: #00000024;
    --material-shadow-0_12: #0000001F;
    --background-color: #2F303A;
    --hedder-border: #ececec;
    --social-svg-color-on-wight: #AFB1B8;
    --footer-ellipse: #FFFFFF1A;
    --modal-x-border: #0000001A;
    --sec-3-img-text-back: #2F303ACC;
    --product-background: #eee;
    --product-overley: #2196F3E5;
    --newsletter-fading: #FFFFFF4D;
}


/*  GENERAL CHANGE */

ul {
    list-style-type: none
}
figure {
    margin: 0px;
}
p {
    margin:0;
}


/*  PLACEMENT */


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


/*  HEADER */


.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo--black {
    color: var(--black)
}
.logo--blue {
    color: var(--main-blue)
}

.header {
    width: 1200px;
    margin: 0 auto;
    padding: 18px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--hedder-border);
}
.header__link {
    text-decoration: none;
}

.header__placement-1 {
    display: flex;
    align-items: center;
    margin-left: 93px;
    padding: 0;
}
.header__grup-1 {
    margin-right: 46px;
    position: relative;
}
.header__grup-1:last-child {
    margin-right: 0px;
}
.header__nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.header__nav:hover,
.header__nav:focus {
    color: var(--main-blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}
.header__nav--black {
    color: var(--lighter-black);
}
.header__underline:hover::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 45px;
    width: 100%;
    border-bottom: solid 4px var(--main-blue);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.header__underline--active {
    color: var(--main-blue);
}
.header__underline--active::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 45px;
    width: 100%;
    border-bottom: solid 4px var(--main-blue);
    border-radius: 4px;
}

.header__placement-2 {
    display: flex;
    align-items: center;
    margin-left: 345px;
    padding: 0;
}
.header__grup-2 {
    margin-right: 30px;
}
.header__grup-2:last-child {
    margin-right: 0px;
}
.header__nav--grey {
    color: var(--fade-on-white);
}
.header__nav--grey:hover,
.header__nav--grey:focus {
    fill: var(--main-blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.header__icon-1 {
    height: 12px;
    width: 16px;
    margin-right: 10px;
}
.header__icon-2 {
    height: 16px;
    width: 10px;
    margin-right: 10px;
}






/*  FOOTER */
.logo--white {
    color: var(--white);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--white);
    background-color: var(--background-color);
}
.footer__flex {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.footer__flex-grup {
    margin-right: 70px;
}
.footer__flex-grup:last-child {
    margin-right: 0px;
}

.footer__address-white {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 24px;
}
.footer__address-gray {
    color: var(--fade-on-black);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 24px;
    text-decoration: none;
}
.footer__address-gray:hover,
.footer__address-gray:focus {
    color: var(--white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.footer__p {
    margin-bottom: 9px;
}
.footer__p:first-child {
    margin-top: 20px;
}
.footer__p:last-child {
    margin-bottom: 0;
}


.footer__title {
    padding-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.03em;
}
.footer__flex-2 {
    display: flex;
}
.footer__flex-2-grup {
    margin-right: 10px;
}
.footer__flex-2-grup:last-child {
    margin-right: 0px;
}
.footer__icon {
    box-sizing: content-box;
    height: 20px;
    width: 20px;
    fill: var(--white);
}
.footer__icon-background {
    display: flex;
    padding: 12px;
    background-color: var(--footer-ellipse);
    border-radius: 50%;
    cursor: pointer;
}
.footer__icon-background:hover,
.footer__icon-background:focus {
    background-color: var(--main-blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.footer__newsletter {
    padding-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.03em;
}
.footer__newsletter-flex {
    display: flex;
    flex-direction: row;
}
.footer__imputbox {
    height: 50px;
    width: 358px;
    border: 1px solid var(--newsletter-fading);
    border-radius: 4px;
    background: none;
    color: var(--white);
    padding-left: 16px;
}
.footer__imputbox:not(:placeholder-shown):invalid {
    border-color: red;
}
.footer__button {
    display: flex;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 200px;
    padding-left: 42px;
    margin-left: 12px;
    border-width: 0px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,06em;
    color: var(--white);
    fill: var(--white);
    background-color: var(--main-blue);
    cursor: pointer
}
.footer__button:hover,
.footer__button:focus {
    color: var(--main-blue);
    fill: var(--main-blue);
    background-color: var(--white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button-svg {
    height: 24px;
    width: 24px;
    margin-left: 24px;
}



/*  MAIN - INDEX */

.sec-1 {
    padding-top: 200px;
    padding-bottom: 200px;
    color: var(--white);
    background-size: cover;
    background-position: center center;
    background-image: url("../images/img-background-sec-1.jpg"), url("../images/img-background-overlay-sec-1.png");
    background-color: var(--background-color);
}
.sec-1__flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.sec-1__headline {
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 60px;
    text-align: center;
}

.sec-1__button {
    box-sizing: border-box;
    color: var(--white);
    background-color: var(--main-blue);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0, 06em;
    line-height: 30px;
    border: none;
    border-radius: 4px;
    padding: 10px 41px;
}

.sec-1__button:hover,
.sec-1__button:focus {
    cursor: pointer;
    color: var(--main-blue);
    background-color: var(--white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}




.sec-2 {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.sec-2__image {
    box-sizing: content-box;
    height: 70px;
    width: 70px;
    padding: 25px 100px;
    background: var(--light-grey);
    margin-bottom: 30px;
}
.sec-2__head {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--lighter-black);
    margin-bottom: 10px;
}

.sec-2__text {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 24px;
    color: var(--fade-on-white);
}
.sec-3__headline {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 42px;
    text-align: center;
    color: var(--lighter-black);
}
.sec-3 {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    padding-bottom: 94px;
}
.sec-3__flex {
    display: flex;
    margin-top: 50px;
}
.sec-3__grup {
    margin-left: 50px;
}
.sec-3__grup:first-child {
    margin-left: 0px;
}

.signed-foto {
    position: relative;
    justify-content: center;
    text-align: center;
    height: 294px;
    width: 370px;
}
.signed-foto__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    color: var(--white);
    background-color: var(--sec-3-img-text-back);
    padding-top: 27px;
}



.sec-4 {
    background-color: var(--light-grey);
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 94px;
    padding-bottom: 94px;
}
.sec-4__headline {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 42px;
    text-align: center;
    color: var(--lighter-black);
}
.sec-4__flex {
    display: flex;
    margin-top: 50px;
}
.sec-4__grup {
    margin-left: 30px;
}
.sec-4__grup:first-child {
    margin-left: 0px;
}


.member-card {
    background: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px var(--material-shadow-0_12), 
        0px 1px 1px var(--material-shadow-0_14), 
        0px 2px 1px var(--material-shadow-0_20);
}
.member-card__name {
    color: var(--lighter-black);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 18.75px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0;
}

.member-card__position {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 18.75px;
    color: var(--fade-on-white);
    text-align: center;
    padding-bottom: 16px;
    margin: 0;
}
.member-card__flex {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.member-card__grup {
    margin-right: 10px;
}
.member-card__grup:last-child {
    margin-right: 0px;
}
.member-card__svg {
    box-sizing: content-box;
    height: 20px;
    width: 20px;
}
.member-card__svg-background {
    display: flex;
    padding: 12px;
    background-color: var(--white);
    border-radius: 50%;
    fill: var(--social-svg-color-on-wight);
    cursor: pointer;
}
.member-card__svg-background:hover,
.member-card__svg-background:focus {
    fill: var(--white);
    background-color: var(--main-blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}


.sec-5 {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 94px;
    padding-bottom: 94px;
}
.sec-5__headline {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 42px;
    text-align: center;
    color: var(--lighter-black);
}
.sec-5__flex {
    display: flex;
    margin-top: 50px;
}
.sec-5__grup {
    margin-right: 30px;
}
.sec-5__grup:last-child {
    margin-right: 0px;
}
.sec-5__logo {
    box-sizing: border-box;
    fill: var(--social-svg-color-on-wight);
    height: 92px;
    width: 170px;
    padding: 16px 32px;
    border: 1px solid var(--social-svg-color-on-wight);
    border-radius: 4px;
    cursor: pointer;
}
.sec-5__logo:hover,
.sec-5__logo:focus {
    fill: var(--main-blue);
    border-color: var(--main-blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}



/*  MAIN - PORTFOLIO */


.section {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 94px;
    padding-bottom: 94px;
}


.selectors {
    display: flex;
    justify-content: center;
    margin: 0;
}
.selectors__spacing {
    margin-right: 8px;
}
.selectors__spacing:last-child {
    margin-right: 0px;
}
.selectors__button {
    color: var(--lighter-black);
    background-color: var(--light-grey);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 26px;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    cursor: pointer;
}
.selectors__button:hover,
.selectors__button:focus {
    background-color: var(--main-blue);
    color: var(--white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}


.section__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 34px;
}

.product:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.product__img-box {
    position: relative;
    overflow: hidden;
    height: 294px;
    width: 370px;
}
.product__img-fllow {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    background-color: var(--product-overley);
    transform: translateY(105%);
    transition-duration: 250ms;
}
.product__img-box:hover .product__img-fllow {
    transform: translateY(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.product__fllow-text {
    padding: 49px 45px 49px 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--white);
}

.product__name {
    color: var(--lighter-black);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 36px;
    padding: 20px 0px 0 24px;
}

.product__description {
    color: var(--fade-on-white);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 30px;
    padding: 4px 0px 20px 24px;
}
.product__border {
    border-bottom: 1px solid var(--product-background);
    border-left: 1px solid var(--product-background);
    border-right: 1px solid var(--product-background);
}

.product__img {
    display: block;
    overflow: hidden;
}




/*  Modal Window */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--material-shadow-0_20);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    box-shadow: 0px 1px 3px var(--material-shadow-0_12), 0px 1px 1px var(--material-shadow-0_14), 0px 2px 1px var(--material-shadow-0_20);
    border-radius: 4px;
}
.modal__hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal__x-symbol {
    box-sizing: border-box;
    display: flex;
    height: 30px;
    width: 30px;
    padding: 10px;
    cursor: pointer;
}
.modal__x-button {
    position: absolute;
    top: 14px;
    right: 14px;
    border-radius: 50px;
    border-color: var(--modal-x-border);
    background-color: var(--white);
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0,03em;
    text-align: center;
    color: var(--lighter-black);
    margin-bottom: 12px;
}

.modal__flex {
    display: flex;
    flex-direction: column;
}

.modal__subtitle {
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--fade-on-white);
    fill: var(--fade-on-white);
}
.modal__subtitle:focus-within {
    fill: var(--main-blue);
}
.modal__imput {
    height: 40px;
    padding-left: 42px;
    border:1px solid #21212133;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 4px;
    outline: none;
}
.modal__imput:focus-within {
    border-color: var(--main-blue);
}
.modal__svg {
    position: absolute;
    height: 18px;
    width: 18px;
    left: 13px;
    top: 28px;
}
.modal__textbox {
    height: 120px;
    padding: 12px 16px;
    border: 1px solid #21212133;
    border-radius: 4px;
    outline: none;
    margin-bottom: 20px;
    margin-top: 4px;
    resize: none;
}
.modal__textbox:focus-within {
    border-color: var(--main-blue);
}

.modal__button {
    cursor: pointer;
    height: 50px;
    width: 200px;
    border: none;
    color: var(--white);
    background-color: var(--main-blue);
    border-radius: 4px;
    margin-left: 124px;
    box-shadow: 0px 1px 3px var(--material-shadow-0_12), 0px 1px 1px var(--material-shadow-0_14), 0px 2px 1px var(--material-shadow-0_20);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
}


.modal__checkbox-box1 {
    display: flex;
    margin-bottom: 30px;
}
.modal__checkbox-box2 {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    height: 15px;
    width: 16px;
    border-radius: 2px;
}

.modal__checkbox {
position: absolute;
width: 100%;
height: 100%;    
clip: rect(1px, 1px, 1px, 1px);
}
.modal__check-label {
    border: 1px solid var(--black);
    border-radius: 2px;
    height: 15px;
    width: 16px;
    cursor: pointer;
    fill: transparent;
    margin-top: 4px;
}

.modal__checkbox-svg {
    position: absolute;
    height: 8px;
    width: 11px;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.modal__checkbox:checked + .modal__check-label {
    border-color: var(--main-blue);
    background-color: var(--main-blue);
    fill: var(--white);
}
.modal__text {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: var(--fade-on-white);
    letter-spacing: 0.03em;
    line-height: 24px;
    padding-left: 10px;
}
.modal__link {
    display: flex;
    color: var(--main-blue);
    text-decoration: underline;
    padding-left: 4px;
    padding-right: 3px;
}